<% if session[:current_position].present? %>
	<%= session[:current_position].to_s %>
<% end %>

<div id="googleMap"></div>

<button id="drop" onclick ="callquery();">What's happening?</button>


<div id="addressField">
	<%= form_for :address do |f| %>
		<p>
			<%= f.label(:address, "Not your location? Enter your current address here:")  %><br>
			<%= f.text_field :current_address %>
		</p>

		<p>
			<%= f.submit %>
		</p>
	<% end %>

</div>

<!--"Not your location? Enter your current address here:"
	-make text box longer
	-put these buttons and the field on a different layer
-make a path such that when they push the "Submit" button, the address entered by the user overrrides the geolocation-->
